@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  
}
body {
  width: 1920px;
  height: 1080px;
}
.header {
  width: 1440px;
  height: 928px;
  padding: 30px 135px 30px 135px;
  gap: 64px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.top__header {
  width: 1170px;
  height: 54px;
  gap: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 170px;
}
span {
  color: #fb9333;
}
.header__nav {
  width: 422px;
  height: 41px;
  padding: 10px;
  gap: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #575757;
  transition: 0.3s ease;
  position: relative;
}

.nav__link:hover {
  color: #575757;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.nav__link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 10%;
  background-color: #575757;
  bottom: 0;
  left: 0;
  transition: 0.6s;
}

.nav__link:hover::before {
  width: 100%;
}
.header__but {
  width: 130px;
  height: 54px;
  border-radius: 100px;
  background: #fff;
  padding: 24px, 32px, 24px, 32px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  border: 2px solid #000;
  transition: 0.3s;
}
.header__but:hover {
  background-color: #000;
  color: #fff;
}
.main__header {
  width: 1170px;
  height: 750px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-1 {
  width: 590px;
  height: 709px;
  gap: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.box-1 {
  width: 590px;
  height: 557px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.box__but {
  width: 213px;
  height: 53px;
  padding: 16px;
  border-radius: 100px;
  gap: 16px;
  background: rgb(0, 20, 81);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}


.box__but:nth-child(4) {
  width: 192px;
  height: 68px;
  padding: 24px 32px 24px 32px;
  border-radius: 100px;
  gap: 16px;
  background: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  border: 2px solid rgb(0, 20, 81);
  color: rgb(0, 20, 81);
}
.box__txt-1 {
  color: #575757;
  font-family: Poppins;
  font-size: 72px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: -0.02em;
}
.blue {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #008cff;
}

.box__txt-2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.box-2 {
  width: 352px;
  height: 64px;
  gap: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.txt-1 {
  color: #575757;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.txt-2 {
  color: #828282;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.customer {
  width: 85px;
  height: 64px;
}
.delivery {
  width: 85px;
  height: 64px;
}
.rating {
  width: 78px;
  height: 64px;
}
.section-2 {
  display: flex;
  width: 658.256px;
  height: 750px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.section__img {
  width: 658.256px;
  filter: drop-shadow(10px 5px 10px black);
}
.section__img-2 {
  position: absolute;
  display: none;
}
.main {
  margin: 0 auto;
}
.Y_container-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Y_frame-22 {
  width: 1170px;
  height: 134px;
  margin: 150px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Y_frame-1 {
  width: 585px;
  height: 134px;
}

.Y_frame-2 {
  width: 400px;
  height: 134px;
}

.Y_frame_ubi{
  width: 110px;
}

.Y_txt-1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #585858;
}
.Y_orng_txt {
  color: rgb(0, 20, 81);
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: -0.02em;
  text-align: left;
}

.Y_txt-2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #828282;
}

.Y_frame-35 {
  width: 1170px;
  height: 470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.Y_card {
  width: 365px;
  height: 468px;
  border: 1px solid #130221;
  border-radius: 20px;
  box-shadow: 0px 50px 80px -30px rgba(25, 5, 58, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.Y_frame-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  flex: 1 0 0;
  width: 303px;
  height: 407px;
  margin: 30px auto;
}

.Y_frame-24 {
  width: 303px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.Y_24_ttl {
  color: var(--2-b-2-b-2-b, #2b2b2b);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: -0.48px;
}
.Y_24_txt {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.Y_24_btn {
  padding: 10px 24px;
  border-radius: 20px;
  font-weight: 20;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.Y_24_btn:hover {
  background-color: #fb9333;
}

.Y_card:hover {
  box-shadow: 0px 50px 180px -30px rgba(255, 219, 126, 0.2);
}

.L_main {
  background: linear-gradient(
    180deg,
    #fff6ea 0%,
    rgba(255, 232, 199, 0.5) 100%
  );
  width: 100%;
  height: 682px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px auto;
}
.L_box-1 {
  width: 415px;
  height: 406px;

  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px;
}
.L_box-h1 {
  width: 415px;
  height: 326px;

  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.L_box-p {
  width: 415px;
  height: 72px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-default-in-field, #999);
}
.L_box-oth {
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.L_h1-span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 63.984px;
  font-style: normal;
  color: #fb9333;
}
.L_box-h1-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  font-style: normal;
  color: #333;

  width: 415px;
  height: 128px;
  display: flex;
  align-items: center;
}
.L_box-text {
  width: 112px;
  height: 64px;

  display: flex;
  align-items: center;
  flex-direction: row;
}
.L_box-text-1 {
  width: 70;
  height: 64px;

  display: flex;
  align-items: center;
}
.L_box-text-2 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: bottom;
}
.text_1-p {
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.text_2-p {
  font-family: Raleway;
  padding-top: 20px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: var(--text-disable, #ccc);
}
.L_oth-img1 {
  background-image: url(./Previous\ Button.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}
.L_oth-img2 {
  background-image: url(./Next\ Button.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}
.L_box-2 {
  width: 895px;
  height: 442px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.L-box-card {
  width: 269px;
  height: 442px;
}
.L_card-img-1 {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  position: absolute;
  margin-left: 23px;
  background-image: url(./Container.png);
}
.L_card-main-1 {
  width: 269px;
  height: 402px;
  margin-top: 40px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card1-h {
  width: 181px;
  height: 32px;
  color: var(--2-b-2-b-2-b, #2b2b2b);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.992px;
}

.card1-p {
  width: 155px;
  height: 21px;
  color: var(--text-default-in-field, #999);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.card1-text {
  width: 221px;
  height: 168px;
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.L_card-img-2 {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  position: absolute;
  margin-left: 23px;
  background-image: url(./Image\ Placeholder.png);
}
.L_card-main-2 {
  width: 269px;
  height: 402px;
  margin-top: 40px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.L_card-img-3 {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  position: absolute;
  margin-left: 23px;
  background-image: url(./Image\ Placeholder\ 1.png);
}
.L_card-main-3 {
  width: 269px;
  height: 402px;
  margin-top: 40px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.L_card-box {
  width: 225px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin-top: 80px;
}
.L_main-2 {
  width: 1440px;
  height: 840px;
  margin: 0 auto;
}
.L_main2-text {
  width: 1170px;
  height: 182px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.L-box-textm2 {
  width: 450px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.L_text-hm2 {
  color: var(--fb-9333, #fb9333);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.4px;
}
.L-box-textm3 {
  width: 732px;
  height: 134px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.L_text-pm2 {
  color: #585858;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}
.L_main2-img {
  width: 1170px;
  height: 521px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 71px;
}
.L-m2-card-1 {
  width: 363.333px;
  height: 520px;
  border-radius: 50px;
  background-image: url(./front-view-vegetable-salad-from-boiled-vegetables-mixed-inside-round-plate-dark-background\ 1.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.L_m2-text-folder {
  width: 260px;
  height: 80px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 350px;
}
.L-card-text-1m2 {
  color: var(--ffffff, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.L-card-texr-2m2 {
  color: var(--ffffff, #fff);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.L-m2-card-2 {
  width: 363.333px;
  height: 520px;
  border-radius: 50px;
  background-image: url(./top-view-fruity-salad-with-fresh-sliced-fruits\ 1.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.L-m2-card-3 {
  width: 363.333px;
  height: 520px;
  border-radius: 50px;
  background-image: url(./top-view-fruity-salad-with-fresh-sliced-fruits\ 2.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.L-m2-span {
  color: #fb9333;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}
.I_container-2 {
  width: 1170px;
  height: 552px;
  margin: 100px auto;
}
.I_subscribe {
  width: 1170px;
  height: 552px;
  border-radius: 50px;
  background: #fff1de;
}
.I_box {
  width: 700px;
  height: 406px;
  padding: 48px 235px 98px 235px;
}
.I_section-1 {
  width: 655px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.I_txt-1 {
  color: var(--fb-9333, #fb9333);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: -0.4px;
  width: 450px;
  height: auto;
}
.I_txt-2 {
  color: #585858;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.96px;
}
.I_txt-3 {
  color: var(--575757, #575757);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.32px;
  width: 462px;
  opacity: 0.699999988079071;
  margin-top: 24px;
}
.I_section-2 {
  width: 700px;
  height: 80px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px 10px 31px;
  margin-top: 80px;
}
.I_input {
  width: 300px;
  height: 80px;
  background-color: transparent;
}
.I_input::placeholder {
  color: var(--575757, #575757);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.36px;
  opacity: 0.699999988079071;
  width: 236px;
  height: 45px;
}
.I_but__input {
  width: 170px;
  height: 64px;
  padding: 10px 16px;
  border-radius: 100px;
  background: var(--fb-9333, #fb9333);
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.36px;
  cursor: pointer;
}
.V_footer {
  padding: 50px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.V_section-1 {
  width: 212px;
  height: 216px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.V_box {
  width: 212px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.V_box__txt-1 {
  color: #585858;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
span {
  color: var(--fb-9333, #fb9333);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.V_box__txt-2 {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.V_section-1__txt {
  color: var(--2-b-2-b-2-b, #2b2b2b);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_section-2 {
  width: 71px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.V_section-2__txt-1 {
  color: var(--fb-9333, #fb9333);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}
.V_section-2__txt-2 {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_section-2__txt-3 {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_section-2__txt-4 {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_section-2__txt-5 {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_section-3 {
  width: 237px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.V_section-3__txt {
  color: var(--fb-9333, #fb9333);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}
.V_adress {
  width: 237px;
  height: 49px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.V_txt {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.V_img {
  width: 24px;
}
.V_email {
  width: 213px;
  height: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.V_phone {
  width: 177px;
  height: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.V_section-4 {
  width: 192px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.V_icons {
  width: 138px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 24px;
}
.V_icon__txt {
  color: var(--575757, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 192px;
}
